
module dns 1.0;

require {
	type named_t;
	type named_zone_t;
	class file { write rename create unlink };
	class dir { write remove_name add_name };
}

#============= named_t ==============

#!!!! This avc can be allowed using the boolean 'named_write_master_zones'
allow named_t named_zone_t:dir { write remove_name add_name };

#!!!! This avc can be allowed using the boolean 'named_write_master_zones'
allow named_t named_zone_t:file { write rename create unlink };
